body{
    background-color: rgb(234, 242, 245);
    text-align: center;
}

input[ type = text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    background-color: #0b8af1;
    width: 50%;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  th, td {
    padding: 15px;
  }